<ion-view view-title="{{me.profile.name}}">

	<ion-content class="padding">
		<div class="item item-avatar" style="border: none;padding-left: 65px;">
			<div class="strata-post-user-default-icon-small"></div>
			<h2 style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 400;">Marty <span style="font-weight: 600;">McFly</span></h2>
			<p style="color: #4E5F6F; font-family: Montserrat, sans-serif; font-weight: 200; overflow: auto; text-overflow: initial; white-space: initial;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
			</p>
		</div>
	</ion-content>
	
</ion-view>
