<ion-view view-title="Chats">
	<ion-nav-title>
		<div class="row eizap-title">
			<div class="col" style="margin-top: -10px;">
				<a href="#">
					{{ user.name }}
				</a>
			</div>
			<div class="col" style="text-align: right;margin-top: -10px;">
				<a href="#">
					<img src="./img/coin.svg" alt="" style="height: 10px;">
					<span>{{ user.coins }}</span>
				</a>
			</div>
		</div>
	</ion-nav-title>

	<ion-content>
		<ion-list>

			<div class="card card__texticons">
				<div class="item item-text-wrap noborder title" style="">
					This is a basic Card which contains an item that has wrapping text.
				</div>
				<div class="item item-text-wrap noborder body" style="">
					<p style="">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
				<div class="row">
					<div class="col">
						<p class="p-icons">
							<a href="#" class="subdued">
								<img src="./img/like.svg" alt="">
							</a>
							<a href="#" class="subdued">
								<img src="./img/comment.svg" alt="" >
							</a>
						</p>
					</div>
					<div class="col fright txtcenter">
						<!--<button class="button button-balanced button-iamar-success" >Ver projeto</button>-->
						<a href="/#/tab/chats/video" class="button button-balanced button-iamar-success button-amar-success-oi" >Ver projeto</a>
					</div>
				</div>
			</div>


			<div class="card card__texticons">
				<div class="item item-text-wrap noborder title" style="">
					This is a basic Card which contains an item that has wrapping text.
				</div>
				<div class="item item-text-wrap noborder body" style="">
					<p style="">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
				<div class="row">
					<div class="col">
						<p class="p-icons">
							<a href="#" class="subdued">
								<img src="./img/like.svg" alt="">
							</a>
							<a href="#" class="subdued">
								<img src="./img/comment.svg" alt="" >
							</a>
						</p>
					</div>
					<div class="col fright txtcenter">
						<!--<button class="button button-balanced button-iamar-success" >Ver projeto</button>-->
						<a href="/#/tab/chats/video" class="button button-balanced button-iamar-success button-amar-success-oi" >Ver projeto</a>
					</div>
				</div>
			</div>


			<div class="card card__texticons">
				<div class="item item-text-wrap noborder title" style="">
					This is a basic Card which contains an item that has wrapping text.
				</div>
				<div class="item item-text-wrap noborder body" style="">
					<p style="">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
				<div class="row">
					<div class="col">
						<p class="p-icons">
							<a href="#" class="subdued">
								<img src="./img/like.svg" alt="">
							</a>
							<a href="#" class="subdued">
								<img src="./img/comment.svg" alt="" >
							</a>
						</p>
					</div>
					<div class="col fright txtcenter">
						<!--<button class="button button-balanced button-iamar-success" >Ver projeto</button>-->
						<a href="/#/tab/chats/video" class="button button-balanced button-iamar-success button-amar-success-oi" >Ver projeto</a>
					</div>
				</div>
			</div>

			<div class="card card__texticons">
				<div class="item item-text-wrap noborder title" style="">
					This is a basic Card which contains an item that has wrapping text.
				</div>
				<div class="item item-text-wrap noborder body" style="">
					<p style="">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
				<div class="row">
					<div class="col">
						<p class="p-icons">
							<a href="#" class="subdued">
								<img src="./img/like.svg" alt="">
							</a>
							<a href="#" class="subdued">
								<img src="./img/comment.svg" alt="" >
							</a>
						</p>
					</div>
					<div class="col fright txtcenter">
						<!--<button class="button button-balanced button-iamar-success" >Ver projeto</button>-->
						<a href="/#/tab/chats/video" class="button button-balanced button-iamar-success button-amar-success-oi" >Ver projeto</a>
					</div>
				</div>
			</div>

		</ion-list>
	</ion-content>



	<!--<ion-content>-->
		<!--<ion-list>-->
			<!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats"-->
			          <!--type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
				<!--<img ng-src="{{chat.face}}">-->
				<!--<h2>{{chat.name}}</h2>-->
				<!--<p>{{chat.lastText}}</p>-->
				<!--<i class="icon ion-chevron-right icon-accessory"></i>-->
				<!---->
				<!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
					<!--Delete-->
				<!--</ion-option-button>-->
			<!--</ion-item>-->
		<!--</ion-list>-->
	<!--</ion-content>-->


</ion-view>
