<ion-view view-title="Dashboard">

	<ion-nav-title>
		<div class="row eizap-title">
			<div class="col" style="margin-top: -10px;">
				<a href="/#/me">
					{{ user.name }}
				</a>
			</div>
			<div class="col" style="text-align: right;margin-top: -10px;">
				<a href="/me">
					<img src="./img/coin.svg" alt="" style="height: 10px;">
					<span>{{ user.coins }}</span>
				</a>
			</div>
		</div>
	</ion-nav-title>

	<ion-content class="padding">

		<div class="list card card__slimcard" ng-repeat="(index,notificacao) in user.notificacoes">
			<div class="item item-thumbnail-left" href="#">
				<img src="./img/doccheck.svg">
				<div class="row" style="">
					<div class="col">
						<h2>
							<a href="#/tab/dash/{{notificacao.baseurl}}/{{notificacao.id}}">
								Prova {{index+1}} - Sala {{notificacao.object.sala.name}}
							</a>
						</h2>
						<p class="text">
							<a href="#/tab/dash/{{notificacao.object.baseurl}}/{{notificacao.object.id}}"> {{notificacao.actor.name}} {{notificacao.action}} um(a) {{notificacao.object.objectname}} {{notificacao.object.name}}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
