<ion-view view-title="Dashboard">

	<ion-nav-title>
		<div class="row">
			<div class="col">
				<a href="#">
					Fernando Garcia
				</a>
			</div>
			<div class="col" style="text-align: right;">
				<a href="#">
					<img src="./img/strata-ios-grouplist.svg" alt="" style="height: 10px;">
					<span>234</span>
				</a>
			</div>
		</div>
	</ion-nav-title>


	<ion-content class="padding">

		<div class="card card__texticons">
			<div class="item item-text-wrap noborder">
				This is a basic Card which contains an item that has wrapping text.
			</div>
			<div class="row">
				<div class="col">
					<p style="margin-top: 12px;">
						<a href="#" class="subdued">1 Like</a>
						<a href="#" class="subdued">5 Comments</a>
					</p>
				</div>
				<div class="col fright txtcenter">
					<button class="button button-balanced">oi</button>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
