<ion-view view-title="Account">
	<ion-nav-title>
		<div class="row eizap-title">
			<div class="col" style="margin-top: -10px;">
				<a href="#">
					Fernando Garcia
				</a>
			</div>
			<div class="col" style="text-align: right;margin-top: -10px;">
				<a href="#">
					<img src="./img/coin.svg" alt="" style="height: 12px;">
					<span>234</span>
				</a>
			</div>
		</div>
	</ion-nav-title>

	<ion-content>
		<ion-list>
			<ion-toggle ng-model="settings.enableFriends">
				Enable Friends
			</ion-toggle>
		</ion-list>
	</ion-content>
</ion-view>
