<div class="card card__texticons">
	<div class="item item-text-wrap noborder title" style="">
		This is a basic Card which contains an item that has wrapping text.
	</div>
	<div class="item item-text-wrap noborder body" style="">
		<p style="">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
	<div class="row">
		<div class="col">
			<p class="p-icons">
				<a href="#" class="subdued">
					<img src="./img/like.svg" alt="">
				</a>
				<a href="#" class="subdued">
					<img src="./img/comment.svg" alt="" >
				</a>
			</p>
		</div>
		<div class="col fright txtcenter">
			<button class="button button-balanced button-iamar-success" >Ver projeto</button>
		</div>
	</div>
</div>